<div *ngIf="currElection">
  <div *ngIf="!currElection.closed">
    <h2>Quem é você?</h2>
    <br />
    <form [formGroup]="professionalForm" (ngSubmit)="onSubmit(selectedProfId)">
      <select formControlName="professionalControl" [(ngModel)]="selectedProfId">
        <option [value]="professional.id" *ngFor="let professional of professionalList">{{professional.name}}</option>
      </select>
      <br />
      <br />
      <input type="submit">
    </form>
  </div>

  <div *ngIf="currElection.closed">
    <h2> Restaurante Vencedor: {{currElection.winnerRestaurantName}}</h2>
  </div>
</div>
<div *ngIf="!currElection">
  <h2>Carregando...</h2>
</div>
